<!-- <ul class="list-group">
  <li *ngFor="let ticker of all" class="list-group-item">{{ticker}}</li>
</ul> -->

<!-- <div class="container">
  <div *ngFor="let ticker of arrayOfDiffs | slice:0:5">
    <a routerLink="/ticker/{{ticker.symbol}}">
      <h3 class="text-danger">{{ticker.symbol}}</h3>
    </a>
    <h5 class="text-info">{{ticker.diff | percent:'.1-5'}}</h5>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div *ngFor="let ticker of arrayOfDiffs | slice:0:5" class="col-sm text-center">
        <a routerLink="/ticker/{{ticker.symbol}}">
          <h3 class="text-danger">{{ticker.symbol}}</h3>
        </a>
        <h5 class="text-info">{{ticker.diff | percent:'.1-5'}}</h5>
    </div>
    <!-- <div class="col-sm text-center">
      Bittrex
    </div>
    <div class="col-sm text-center">
      Poloniex
    </div> -->
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm text-center">
      Binance
    </div>
    <div class="col-sm text-center">
      Bittrex
    </div>
    <div class="col-sm text-center">
      Poloniex
    </div>
  </div>
</div> -->